.calc_display {
  width: 15vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
}
.calc_input {
  width: 100%;
  font-size: 2.5vw;
  margin: 2%;
  color: #555;
}
